body {
  margin: 0;
}

#title-price-div span {
  text-align: center;
  display: inline-block;
  margin-left: 10em;
  padding: 3em;
}

#navbar {
  background-color: #3f51b5;
  width: 100%;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#nav-link-div {
  padding: 10px;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.nav-link,
#navbar p {
  color: white;
  font-size: 1.25rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

#navbar p {
  margin: 0px 25px 0px 0px;
  padding: 10px;
}

#title-price-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#stockchart-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#time-input-div {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

#time-period-div,
#time-interval-div {
  display: flex;
  flex-direction: row;
}

#time-period,
#time-interval {
  margin-left: 10px;
  margin-right: 10px;
}
#stockcharts-news-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
}

#articles-stockchart > div {
  border: solid black 1px;
  margin: 0 0 0 2em;
  padding: 0 5px 5px 5px;
}

#stocknews-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stocknews-div button,
#stockchart-div button,
button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  background-color: #e0e0e0;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  margin-right: 2em;
}

#stocknews-div h1 {
  text-decoration: underline;
}

#stocknews-inputButton-div {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#stocknews-inputButton-div input {
  flex-grow: 2;
}

#newsCat-div {
  margin-bottom: 25px;
}

#stockarticles-on-stocknews {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

#stockarticles-on-stocknews > div {
  border: solid black 1px;
  margin: 0 0 0 2em;
  padding: 0 5px 5px 5px;
}

/* .wsj-detail-div,
.finviz-detail-div,
.tradingview-detail-div,
.bloomberg-detail-div {
  border: black solid 0.5px;
} */

/* .media-list {
  overflow-y: scroll;
} */
